body {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;

    min-width: 800px;
}

header {
    position: fixed;
    width: 100%;

    height: 70px;
    /*box-shadow: 0 5px 8px rgba(0, 0, 0, 0.30);*/
    border-bottom: 1px solid lightgray;
    /*z-index: 0;*/
    background-color: white;
    opacity: 0.98;
}

header section.logo {
    position: absolute;
    height: 70px;
    width: 70px;
    /*background-color: red;*/
    line-height: 70px;
    margin: auto;

    text-align: center;

    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 300;
}


header section.center {
    text-align: center;
}

header input {

    border: 1px solid lightgray;
    outline: none;

    width: 500px;
    margin: 22px auto;
    padding: 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

main {
    position: absolute;
    top: 70px;
    width: 100%;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

section ul {
    border: 1px solid lightgray;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);*/

    text-align: center;
    list-style-type: none;

    width: 500px;
    margin: 23px auto;
    padding: 5px;

    background-color: white;

    /*background-color: lightgray;*/
    /*height: 3000px;*/
}

section ul li {
    text-align: left;
    padding: 10px;
    /*background-color: lightgray;*/
    /*padding: 10px;*/
}

section ul li img {
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    padding-right: 7px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}