html, body {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;

    border-bottom: 1px solid lightgray;

    background-color: white;
    /*opacity: 0.98;*/
}

header section.logo {
    position: absolute;
    width: 70px;
    height: 70px;

    text-align: center;
    line-height: 70px;

    font-size: 20px;
}

header section.logo a {
    color: lightgray;
}

header section.logo a:hover {

    color: black;
    text-decoration: none;
}

header section.main {
    position: absolute;
    /*left: 200px;*/
    left: 20%;
}

header input {
    border: 1px solid lightgray;
    outline: none;

    width: 500px;
    margin: 22px;
    padding: 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

nav {
    position: fixed;
    /*width: 200px;*/
    width: 20%;
    top: 93px;

    /*background-color: lightgray;*/

    border: 1px solid white;
    /*margin-top: 23px;*/
}

nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;
}

nav ul li {
    text-align: right;
    padding: 10px 0 10px 10px;
    white-space: nowrap;
    /*width: 170px;*/
    /*height: 16px;*/
    line-height: 16px;

    overflow: hidden;
    text-overflow: ellipsis;

    /*background-color: red;*/
}

main {
    position: absolute;
    top: 93px;
    left: 20%;
    right: 0;

    overflow-x: hidden;
}

main section {
}

main section ul {
    border: 1px solid lightgray;
    list-style: none;

    width: 500px;
    margin: 0 0 22px 22px;
    /*margin: 22px;*/
    padding: 5px;

    background-color: white;
}

main section ul li {
    text-align: left;
    padding: 10px;
    white-space: nowrap;
    width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
}

main section ul li img {
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    padding-right: 7px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}