html, body {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;

    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;

    border-bottom: 1px solid lightgray;

    background-color: white;
    /*opacity: 0.95;*/
}

header:hover {
    z-index: 1;
}

header section.logo {
    position: absolute;
    width: 70px;
    height: 70px;

    text-align: center;
    line-height: 70px;

    background-color: white;

    /*font-size: 20px;*/
    font-weight: 300;

    /*margin: 0;*/
}

header section.logo:hover {
}

header section.logo a {
    margin: 22px;
    padding: 11px;
    /*color: lightgray;*/
}

header section.logo a:hover {
    /*color: white;*/
    text-decoration: none;
    background-color: greenyellow;
}

header section.main {
    position: absolute;
    /*left: 200px;*/
    left: 20%;

    white-space: nowrap;
}

header section.main input {
    border: 1px solid lightgray;
    outline: none;

    width: 500px;
    margin: 22px;
    padding: 5px;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

header section.menu {
    /*white-space: nowrap;*/
    display: inline;
}

header section.menu a {
    padding: 11px;
    margin: 0;
}

header section.menu a:hover {
    text-decoration: none;
}

header section.menu a.flow {
    background-color: rgba(173, 216, 230, 0.51);
}

header section.menu a.flow:hover {
    background-color: lightblue;
}


header section.menu a.demo:hover {
    background-color: lightgreen;
}

header section.menu a.about:hover {
    background-color: turquoise;
}

header section.menu a.login:hover {
    background-color: lightcyan;
}

nav {
    position: fixed;
    /*width: 200px;*/
    width: 20%;
    top: 93px;

    /*background-color: lightgray;*/

    /*margin-top: 23px;*/
}

nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;

    border: 1px solid white;
}

nav ul li {
    text-align: right;
    padding: 10px 0 10px 10px;
    white-space: nowrap;
    /*width: 170px;*/
    /*height: 16px;*/
    line-height: 16px;

    overflow: hidden;
    text-overflow: ellipsis;

    /*background-color: red;*/
}

nav ul li a:hover {
    text-decoration: none;
    color: red;
}

main {
    position: absolute;
    top: 93px;
    left: 20%;
    /*right: 0;*/

    overflow-x: hidden;
}

main ul {
    border: 1px solid lightgray;
    list-style: none;

    width: 500px;
    margin: 0 0 22px 22px;
    /*margin: 22px;*/
    padding: 5px;

    background-color: white;
}

main ul li {
    text-align: left;
    padding: 10px;
    white-space: nowrap;
    width: 480px;
    overflow: hidden;
    text-overflow: ellipsis;
}

main ul li img {
    vertical-align: bottom;
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}