<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flow</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/menu.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <script src="@routes.Assets.at("javascript/jquery-2.1.0.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <section class="logo">
                <a href="javascript:flow()" class="button flow selected">Flow</a>
                <a href="javascript:streams()" class="button streams">Streams</a>
            </section>
            <section class="main">
                <input type="search" value="" placeholder="Search">
                @*type="text" TODO*@
                <section class="menu">
                    @*<a href="/demo" class="demo">Demo</a>*@
                    @*<a href="/api" class="api">API</a>*@
                    <a href="javascript:about()" class="button about">About</a>
                    <a href="javascript:login()" class="button login">Login</a>
                </section>
            </section>
        </header>
        <nav></nav>
        <main></main>
        <aside>
            <section>
                In a RGB color space, hex #4ea7e6 is composed of 16.42% red, 35.16% green and 48.42% blue. Whereas in a CMYK color space, it is composed of 63.99 cyan, 26.52 magenta, 0.00 yellow and 9.49 black. <br><br>It has a hue angle of 204.87 degrees, a saturation of 75.25% and a lightness of 60.39%. Closest websafe color is: #6699ff.
            </section>
            <menu>
                <ul>
                    <li><a href='javascript:void(0)' class="selected">Global</a></li>
                    <li><a href='javascript:void(0)'>Recommendation</a></li>
                    <li><a href='javascript:void(0)'>Mine</a></li>
                </ul>

            </menu>
        </aside>
    </body>

    <script src="@routes.Assets.at("javascript/main.js")" type="text/javascript"></script>

</html>