@()(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>source</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>

    </head>
    <body>
        <header>
            <section class="logo">
                <a href="/" title="reload">&empty;</a>
            </section>
            <section class="main">
                <input autofocus type="url" value="" title="search">
                <a href="/" class="blue">Flow</a>
                <a href="/ "class="green">Demo</a>
                <a href="/" class="skyblue">About</a>
            </section>
        </header>
        <nav>
            <ul>
                <li><a href="">one two</a></li>
                <li><a href="">one sdfsdfsdfsdf</a></li>
                <li><a href="">sdfsdf two</a></li>
                <li><a href="">sdfsdfsdf test</a></li>
                <li><a href="">one two</a></li>
                <li><a href="">one two</a></li>
                <li><a href="">sfsdf two</a></li>
                <li><a href="">two</a></li>
                <li><a href="">one sdf</a></li>
                <li><a href="">knsdkjfbsdf two</a></li>
                <li><a href="">one two</a></li>
            </ul>
        </nav>
        <main>
            @content
        </main>
    </body>
</html>